
.head2
{
    /* display: inline-block; */
    margin-left:25px;
    color: white;
}

#cont
{
    background-color: white;
    padding:0em 4em 0em 4em;
    
}
body
{
    padding-left:4em;
    padding-right:4em;
    background-color: black;
}

.panel{
    background-color: black;
    border: 0px;
    /* height: 4em; */
    margin-bottom: 2em;
    
}

/* image size  */


/* .img-responsive
{
    height: 360px ;
    width: 960px;
} */


/* image size */


/* PARAGRAPH STYLING START */

#sec-col
{
    background-color: gray;
    color: white;
    /* text-transform: uppercase; */
    padding-top:10px;
}
.para1
{
    /* text-align: center; */
    padding-top:10px;
}
#sec-row
{
    margin-bottom: 30px;
}


/* PARAGRAPH STYLING END  */
.para2
{
    /* text-transform: uppercase; */
}


hr{

}

.card-body
{
    text-align: center;
    margin-right: 3em;
}

.card-img-top
{
    width:215px; 
    height: 315px; 
}
.h7
{
    text-align: right;
    color: white;
    padding-top: .5em;
}
.h6
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#r
{
    background-color: gray;
}

