*{
    margin:0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: rgb(255, 115, 0);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar-content{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.head1{
    padding-right: 10px;
}
.navbar-content li,.logo,.ii{
    padding: 20px;
}


/* banner */

.banner
{
    background: url('../img/banner.jpg') no-repeat center center/cover  ;
    color: white;
    
    height: 50vh;
}
.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}
.breadcrumb{
    list-style-type: none;
    display: flex;
}
.breadcrumb li a{
    padding:5px 10px;
}
.container{
    background-color: rgba(0,0,0,.5);
    height:100%;
}

.showcase a{
    border: 1px;
    border-radius: 20px;
    text-align: center;
    padding-top:7px;
    font-weight: 600;
    margin-top: 20px;
    height: 30px;
    width:200px;
    background-image: linear-gradient(to right, red , yellow);
}

.wrap-videos{
    margin:0px auto;
    /* padding: 20px 150px; */
    width: 75%;
   
  }
  
  .wrap-video-main{
    display: flex;
    box-shadow: 0px 0px 6px 6px #dee1e6; 
    /* align-items: center; */
    /* overflow: auto; */
    
  
  }
  .wrap-video-left{
    padding: 1rem;
    width: 75%;
  }
  .wrap-video-left img{
    border-radius: 10px; 
    height: 100%;
    width: 100%;
  }
  .wrap-video-right{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    height: 100%;
   
  }
  .rightsame{
    display: flex;
    align-items: center;
    margin: 8px 5px;
    height:100%;
    width: 100%;
  }
  
  .rightsame img{
    height: 4rem;
    width: 5rem;
    margin: 5px 1rem;
    border-radius: 5px;
  }
  .rightsame h4{
    font-size: 14px;
  }
  
  .rightsame p{
    font-size: 12px;
    color: #a4a9b4;
    font-weight: bold;
  }
  .wrap-videos h2{
    font-size: 25px;
    text-align: center;
    color: #2a3848;
    font-size: 2rem;
    margin-bottom: 30px;
  }
      

.partners{
    padding: 40px;
    background-color: aliceblue;
    
    
    
}
.partners h1{
    text-align: center;
    padding: 30px;
}
.part{
    box-shadow: 0px 0px 6px 6px #dee1e6;
    width:75%;
    margin:0 auto;
}
.p1{
    display: flex;
    height:100%;
    /* width: 75%; */
    margin:0px auto;
    background-color: white;
    
   
}
.subp1,.subp2,.subp3,.subp4{
    width:25%;
    height:125px;
    
    border-bottom: gray solid;
    border-width: thin;
    /* align-items: center; */
}
.subp1,.subp2,.subp3{
    border-right: gray solid;
    border-width: thin;
}
.subp1 img,.subp2 img,.subp3 img,.subp4 img{
    display: block;
    margin: 10px auto;
}

.subp2:hover,.subp1:hover,.subp3:hover,.subp4:hover{
    box-shadow: 0 1px 15px red;
}

.beapartner h2{
    text-align: center;
    color: #2a3848;
    font-size: 2rem;
    padding: 30px;
  }
  .frm h2{
    font-size: 25px;
    text-align: center;
    color: #2a3848;
    font-size: 2rem;
  }
  .frm form{
    display: flex;
    flex-direction: column;
    margin: 50px 200px;
  }
  .frm form label{
    display: block;
    font-size: 12px;
    color: #a4a9b4;
  }
  .details{
    display: flex;
  }
  .sub_details{
    flex: 1;
    margin: 15px 10px;
  } 
  .sub_details input{
    padding: 8px;
    border: 1px solid #dee1e6;
    border-radius: 5px;
    width: 100%;
  }
  .sub_details textarea{
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid #dee1e6;
    border-radius: 5px;
  
  }
  .frm form button{
    color: white;
    padding: 15px 30px;
    background: #ed643d;
    border-radius: 30px;
    border: none;
    margin-top: 30px;
    font-weight: bolder;
    width: 15%;
    margin-left: 43%;
    
  }

  .foot{
      background-color: rgb(116, 0, 212);
      color: white      ;
      padding: 30px;
  }

  .ufoot{
      display:flex;
      justify-content: space-between;
  }
  
  .dfoot{
      display: flex;
      justify-content: space-between;
      padding: 20px;
  }

  .btn button{
      background-color: rgb(255, 115, 0);
      border:none;
      color: white;
      border-radius: 30px;
      height: 50%;
      width:150px;
      
  }